<nav class="menu-desktop menu-sticky">
	<ul id="menu-main-menu" class="flownews-menu">
		<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home ">
			<a href="/">Home</a>
		</li>
		{{#each global.menu-order}} {{#each ../AllCategory.children }} {{#is this.category ../this}}
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children ">
			<a href="/{{href}}">{{displayName}}</a>
			<ul class="submenu">
				{{#each this.children}}
				<li class="menu-item menu-item-type-taxonomy menu-item-object-category flownews-menu-item-category-id-10">
					<a href="/{{href}}">{{displayName}}</a>
				</li>
				{{/each}}

			</ul>
		</li>
		{{/is}} {{/each}} {{/each}}
	</ul>
</nav>